@import 'base/variables.scss';
@import 'base/mixins.scss';

html {
    font-family: 'MuseoSans', sans-serif;
    margin: 0;
    padding: 0;
    }

.container {
    width: 320px;
    margin: 0 auto;
    
}


@import 'blocks/promo.scss';
