@import 'base/variables.scss';
@import 'base/mixins.scss';

html {
    font-family: 'MuseoSans', sans-serif;
    margin: 0;
    padding: 0;
    
    }

.container {
    width: 320px;
    margin: 0 auto;
    
}


@import 'blocks/promo.scss';
@import 'blocks/about.scss';
@import 'blocks/motivation.scss';
@import 'blocks/page_one.scss';
@import 'blocks/page_two.scss';
@import 'blocks/page_three.scss';
@import 'blocks/page_four.scss';
@import 'blocks/page_five.scss';
@import 'blocks/page_six.scss';
@import 'blocks/page_seven.scss';
@import 'blocks/page_eight.scss';
@import 'blocks/page_nine.scss';
@import 'blocks/page_ten.scss';
@import 'blocks/page_eleven.scss';
@import 'blocks/page_twelve.scss';
@import 'blocks/page_thirteen';