.eight {
    height: 568px;
    width: 320px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/bg/sky_stars.png);
    &_header {
        height: 46px;
        display: flex;
        justify-content: space-between;
        background-color: #181818;
    }
    &_menu {
        width: 24px;
        height: 16px;
        margin-top: 17px;
        margin-left: 15px;
    }
    &_text {
        margin-top: 18px;
        margin-right: 23px;
        color: $main-color;
        text-transform: uppercase;
        font-family: Yeseva One;
        font-size: 12px;
        line-height: 13.86px;
        letter-spacing: 1px;
        font-weight: bold;
    }
    &_scale_gray {
        width: 260px;
        height: 11px;
        margin-left: 30px;
        margin-top: 17px;
        opacity: 0.59;
        border-radius: 10.5px;
        background-color: #F2F3F3;
    }
    &_scale_green {
        position: relative;
        top: -11px;
        left: 30px;
        width: 145px;
        height: 11px;
        border-radius: 10.5px;
        background-color: $green-color;
    }
    &_content {
        height: 375px; 
    }

    &_btn {        
        width: 190px;
        border: none;
        height: 41px;
        background-color: #DADADA;
        border-radius: 20px;
        padding: 12px 25px;
        font-family: Merriweather;
        font-size: 14px;
        line-height: 17.6px;
        text-align: center;
        text-transform: uppercase;
        margin-left: 65px;
        margin-top: 35px;   
    }

    &_button {
        text-decoration: none;
        color: #8E8E8E;
        letter-spacing: 1.3px;
        font-weight: bold;
    }
    &_question {
        font-family: PT Serif;
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 1.1px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 10px;
        width: 290px;
        margin-left: 20px;
    }

    &_picture {
        margin-left: 68px;
        margin-top: 30px;
    }

    &_ans-s {
        width: 250px;
        margin-left: 35px;
        margin-top: 23px;
        display: flex;
        justify-content: space-between;
        
    }
    &_ans-s_1 {
        cursor: pointer;
    }
    &_ans-s_2 {
        cursor: pointer;
    }
    &_ans-s_3 {
        cursor: pointer;
    }
    &_ans-s_4 {
        cursor: pointer;
    }

}


.eight_ans-s_1.active, .eight_ans-s_2.active, .eight_ans-s_3.active, .eight_ans-s_4.active {
    border: 4px solid $main-color;
    width: 34px;
    height: 34px;
}