.header {
    height: 46px;
    background-color: #181818;
    &_menu {
        margin-top: 17px;
        margin-left: 15px;
    }
}

.promo {
    height: 522px;
    background-image: url(../img/bg/brain_srars.png);
    &_text {
        font-family: PT Serif;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
        padding-top: 27px;
    }
    &_title {
        color: $main-color;
        font-family: Yeseva One;
        font-size: 30px;
        line-height: 34.65px;
        text-align: center;
        margin-top: 20px;
        text-transform: uppercase;
        width: 252px;
        margin-left: 34px;
        
    }
    &_btn {        
        width: 190px;
        border: none;
        height: 41px;
        background-color: $main-color;
        border-radius: 20px;
        padding: 12px 25px;
        font-family: Merriweather;
        font-size: 14px;
        line-height: 17.6px;
        text-align: center;
        text-transform: uppercase;
        margin-top: 150px;
        margin-left: 65px;
        
        
    }
    &_button {
        text-decoration: none;
        color: #0D0C11;
        
    }
    &_discr {
        width: 270px;
        font-family: PT Serif;
        font-size: 15px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
        margin: 0 auto;
        margin-top: 22px;
        span {
            color: $main-color
        }
    }
    &_more {
        margin-left: 152px;
        margin-top: 11px;
    }
    &_more_text {
        font-family: PT Serif;
        font-size: 8px;
        line-height: 10.6px;
        text-align: center;
        color: #FFFFFF;
    }
}

.wow {
    height: 340px;
    background-image: url(../img/bg/bg_2/image.png);
    &_img {
        position: absolute;
        top: 600px;
        z-index: 0;
    }
    &_text {
        position: relative;
        margin: 0 auto;
        margin-top: 50px;
        z-index: +1;
        width: 270px;
        font-family: Yeseva One;
        font-size: 18px;
        letter-spacing: 1.5px;
        line-height: 23px;
        text-align: center;
        color: #FFFFFF;

    }
    &_quotes_up {
        position: relative;
        top: 43px;
        z-index: +5;
        left: 24px;
          
    }
    &_quotes_down {
        position: relative;
        z-index: +5;
        left: 270px;
    }
}

